.App {
  font-family: monospace;
  text-align: center;
}

h2 {
  font-family: monospace;
}

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.counters {
  border: 2px solid black;
  justify-content: space-between;
  align-content: center;
}

.graphContainer {
  display: flex;
  flex-flow: column;
}

.boidContainer {
  display: flex;
  flex-flow: column;
}

.normalContainer .sdContainer .isoContainer {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 600px;
  max-width: 600px;
}

.simulationHistoryContainer {
  padding: 1px;
}

canvas {
  border: 2px solid black;
}

span {
  font-family: monospace;
  padding: 5px;
}

span.infected {
  color: red;
}

span.normal {
  color: blue;
}

svg {
  border: 1px solid black;
  padding: 1px;
}
