.App {
  font-family: monospace;
  text-align: center;
}

html {
  background-color: #070745;
}

button {
  font-family: monospace;
  color: #ffcc00;
  background-color: #454545;
}

h2 {
  font-family: monospace;
}

.normalContainer {
  display: flex;
  flex-flow: column;
}

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.counters {
  border-top: 2px solid black;
  border-bottom: 2px solid #454545;
  background-color: black;
  justify-content: space-between;
  align-content: center;
}

.graphContainer {
  display: flex;
  flex-flow: column;
  background-color: #454545;
}

.boidContainer {
  display: flex;
  flex-flow: column;
}

.normalContainer .sdContainer .isoContainer {
  display: flex;
  flex-flow: row wrap;
}

.simulationHistoryContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
}

canvas {
  border: 2px solid black;
}

span {
  font-family: monospace;
  padding: 5px;
}

span.infected {
  color: #ffcc00;
}

span.normal {
  color: #0033ff;
}

svg {
  border: 1px solid black;
  padding: 1px;
}

div.swarmSliders {
  display: flex;
  flex-flow: column wrap;
}

div.sliderContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #454545;
  color: #ffcc00;
  padding: 3px;
}

div.sliderLabel {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

div.swarmButtonsContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #454545;
}
